<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>

	<h1>Programmer's Data</h1>

	<h2 th:text="${msg}"></h2>

	<form action="/addProgrammer" method="post">
		<h3>Enter Programmer's Name</h3>
		<input type="text" name="pName"></input>
		<h3>Enter Programmer's Language</h3>
		<input type="text" name="pLang"></input>
		<button type="submit">Add Programmer</button>
	</form>

	<hr />

	<form action="/findById" method="post">
		<h3>Enter Programmer's Id</h3>
		<input type="text" name="pId"></input>
		<button type="submit">Find By Id</button>
	</form>

	<hr />

	<form action="/findByLang" method="post">
		<h3>Enter Programmer's Language</h3>
		<input type="text" name="pLang"></input>
		<button type="submit">Find By Language</button>
	</form>

	<hr />

	<form action="/findByName" method="post">
		<h3>Enter Programmer's Name</h3>
		<input type="text" name="pName"></input>
		<button type="submit">Find By Name</button>
	</form>

	<hr />
	<form action="/deleteProgrammer" method="GET">
		<h3>Enter Programmer's Id</h3>
		<input type="text" name="pId"></input>
		<button type="submit">Delete</button>
	</form>

	<hr />
	<form action="/updateProgrammer" method="post">
		<h3>Enter Programmer's Id</h3>
		<input type="text" name="pId"></input>
		<h3>Enter Programmer's Name</h3>
		<input type="text" name="pName"></input>
		<h3>Enter Programmer's Language</h3>
		<input type="text" name="pLang"></input>
		<button type="submit">Update Programmer</button>
	</form>

</body>
</html>